//url prod/dev taroh sini
VITE_ARTISAN_URL=
VITE_COMPANY_URL=
VITE_DUMMY_MODE=false
VITE_API_URL=http://localhost:8002
VITE_SUPABASE_URL=https://qelxhftrvwrjfraulwgx.supabase.co
VITE_SUPABASE_ANON_KEY=
